@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  color: white;
  font-family: sans-serif;
}
@media print {
  body {
    background: white !important;
    color: black !important;
  }

  .no-print {
    display: none !important;
  }

  .print-area {
    background: white !important;
    color: black !important;
    padding: 20px;
  }

  * {
    box-shadow: none !important;
  }

  .bg-white\/5 {
    background: white !important;
    border: 1px solid #ddd !important;
  }

  p,
  h1,
  h2,
  h3 {
    color: black !important;
  }
}
@media print {
  body {
    direction: rtl;
    font-family: Arial, sans-serif;
  }

  .text-gray-400 {
    color: #333 !important;
  }
}
